.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Background color for better visibility */
  z-index: 1; /* Ensure it appears above the rest of the content */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for separation */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message h1 {
  margin: 0;
}

.button-addhostel, .button-logout {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-addhostel:hover, .button-logout:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.hostel-form {
  display: flex;
  flex-direction: column;
}

.hostel-form input, .hostel-form select, .hostel-form button {
  margin-bottom: 10px;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}

.location-field {
  display: flex;
  align-items: center;
}

.location-field button {
  margin-left: 10px;
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.filter-container {
  margin: 20px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item p {
  margin: 0;
  margin-bottom: 5px;
}

.hostel-list {
  flex-grow: 1; /* Allow the list to expand and take remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
}

.hostel-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.hostel-image {
  max-width: 100%;
  height: auto;
}

/* Responsive styling for mobile view */
@media (max-width: 600px) {
  .filter-options {
    flex-direction: column;
  }

  .filter-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
