/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #6b73ff 10%, #000dff 100%); */
  }
  
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .show-password-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .show-password-container input {
    margin-right: 0.5rem;
  }
  
  .button {
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #000dff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #6b73ff;
  }
  